<!DOCTYPE html>
<html>
<head>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MakersBnB</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>

  var disableDates = ['20/12/2019', '21/12/2019', '25/12/2019']

  $( function() {
    $("#startdate").datepicker({ 
      dateFormat: "dd/mm/yy",
      minDate: 0,
      disable: [
        {from: [20,12,2019], to: [22,12,2019]}
      ]
      })

    $("#enddate").datepicker({ 
      dateFormat: "dd/mm/yy",
      minDate: 0
      disable: [
        {from: [20,12,2019], to: [22,12,2019]}
      ]
      })
  })
  
  </script>
</head>
<body>
<option value="yy-mm-dd"></option>
<form action='/spaces/dates/<%=@current_booking_id%>' method="POST">
<h3>Start Date</h3>
<input type="text" id="startdate" name="startdate">
<h3>End Date</h3>
<input type="text" id="enddate" name="enddate">
<input type="submit" name="submitDates" value="Book a date" </input>
</head>
</form>
</body>
</html>
