

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<!-- main css -->
    <%# <link rel="stylesheet" href="main.css"> %>

<body>
  



<style>

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}




.section-contact {
  background-color: #e5e6e4;
  background-size: cover;
  padding: 40px 0;
  color: #000;
  overflow: hidden;
  font-size: 1.5rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

fieldset {
  border: none;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

input:focus {
  box-shadow: 0 0 10px 4px #34455e;
}

.btn-ghost,
button {
  border: 0;
  padding: 1rem 2rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem;
  width: 17rem;

  color: #eee;
  font-size: 1.4rem;
  transition: 0.5s;
}

button:hover {
  background: #1be42f;
  cursor: pointer;
  transition: 1s;
}

</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Makers AirBnB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Spaces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Requests</a>
      </li>
    </ul>
    <form class="nav-item-sign-up" style="padding-right: 10px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
    </form>
    <br>
    <form class="nav-item-sign-up">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
    </form>
  </div>
</nav>


<section class="section-contact" id='contact'>

<form class="contact-form" action="/users/sign_up" method="POST">
 <h1>Sign In</h1>
  <p>Sign in MakerBnB</p>
  <hr>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>

 <button type="submit" class="contact-form-btn" value="Submit">Login</button>
</form>

</section>



 </body>
</html>
